/* waline 评论系统关键部分，不然会出现提示框均在同一位置的问题 */

.wl-header {
    overflow: visible;
}
.wl-header-item {
    position: relative;
}

/* end */

.wl-header-item:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧 ~';
}

.wl-header-item:nth-child(2):before {
    content: '收到回复将通过的邮箱提醒您📧 ~';
}

.wl-header-item:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗 ~';
}

.wl-header-item:focus-within::before{
    display: block;
}

/* 主内容区 */
.wl-header-item::before {
    display: none;             /* 先隐藏起来 */
    position: absolute;        /* 绝对定位 */
    top: -31px;                /* 向上移动60像素 */
    white-space: nowrap;       /* 文字强制不换行，防止left:50%导致的文字换行 */
    border-radius: 10px;       /* 圆角 */
    left: 50%;                 /* 距离左边50% */
    transform: translate(-50%);/* 然后再向左边挪动自身的一半，即可实现居中 */
    /* 填充 */
    padding: 0px 18px;
    background: #60c1e7;
    color: #fff;
}

.wl-editor {
    background-image: url(https://blog.fzero.me/img/comment.gif); ;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical
}
.wl-editor:focus{
    background-position-x: 800px;
    background-position-y: 1000px;
    transition: all 0.2s ease-in-out 0s;
}
